absl-py==0.5.0
astor==0.7.1
cvxpy==1.0.8
cycler==0.10.0
dill==0.2.8.2
ecos==2.0.5
fastcache==1.0.2
future==0.16.0
gast==0.2.0
grpcio==1.15.0
h5py==2.8.0
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==3.0.0
multiprocess==0.70.6.1
numpy==1.14.5
osqp==0.4.0
protobuf==3.6.1
pyparsing==2.2.1
python-dateutil==2.7.3
PyYAML==3.13
scipy==1.1.0
scs==2.0.2
six==1.11.0
tensorboard==1.10.0
tensorflow==1.10.1
termcolor==1.1.0
toolz==0.9.0
Werkzeug==0.14.1
